
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/LayoutPage1.cshtml";
}

<h2>You are Jawad, Don't you?</h2>


@{
    ViewBag.msg = "Demo about";
}


@section SideBarOptions

{
    <a href="#" class="list-group-item" style="background-color:transparent">Personal Info</a>
    <a href="#" class="list-group-item" style="background-color:transparent">Educational Info</a>
    <a href="#" class="list-group-item" style="background-color:transparent">Nationality</a>
}