
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/LayoutPage1.cshtml";
}

<h2>mdjawadulhasan@gmail.com</h2>

@section SideBarOptions

{
    <a href="#" class="list-group-item" style="background-color:transparent">Email</a>
    <a href="#" class="list-group-item" style="background-color:transparent">Social Media</a>
    <a href="#" class="list-group-item" style="background-color:transparent">Github</a>
}