
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/LayoutPage1.cshtml";
}

<h2>Home Page Content Here</h2>

@{
    ViewBag.msg = "Demo";
}

@section SideBarOptions

{
    <a href="#" class="list-group-item" style="background-color:transparent">Grade</a>
    <a href="#" class="list-group-item" style="background-color:transparent">Financials</a>
    <a href="#" class="list-group-item" style="background-color:transparent">Registration</a>
}