<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Req Example</title>
</head>
<body>
   
    <div>
        <table class="table table-dark">
            <tr>
                <td>url</td>
                <td>@ViewBag.url </td>
            </tr>
            <tr>
                <td>PhysicalApplicationPath</td>
                <td>@ViewBag.PhysicalApplicationPath </td>
            </tr>
            <tr>
                <td>Path</td>
                <td>@ViewBag.path </td>
            </tr>

        </table>
    </div>
</body>
</html>
