

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentInfo</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>Student ID</td>
                <td>@ViewBag.studentid</td>
            </tr>
            <tr>
                <td>Student Name</td>
                <td>@ViewBag.Name</td>
            </tr>
        </table>
    </div>
</body>
</html>
